<{include file="./header.tpl"}>
<div class='input'>
	<form method="POST">
        支付宝账号：<input type="text" name="account">
	<input type="submit" value="查询">
	</form>
</div>
<div>
</br>
<h4>帐号转款数据</h4>
<table cellpadding="20" cellspacing="10">
	<tr align="center">
            <th>账号</th>
	    <{foreach from = $dateList key=key item = date}>
                <th><{$date}></th>
            <{/foreach}>
	</tr>
	<{foreach from = $data key=key item = val}>
            <tr align="center">
                <td><{$key}></td>
                <{foreach from = $dateList key=index item = date}>
                <{if $val[$date] > 0 }>
                        <td><{$val[$date]}></td>
                    <{else}>
                        <td>0</td>
                    <{/if}>
                <{/foreach}>
            </tr>
	<{/foreach}>
</table>
</div>
<{include file="./footer.tpl"}>
