<{include file="./header.tpl"}>

<div class="menu" align="center"></div>

<div class='input'>
	<form method="POST">
	开始日期：<script type="text/javascript" src="../js/calendar.js"></script>
    <input type="text" id="date" name="begin_date" value="<{$begin_date}>" onclick="calendar.show(this);" size="11" maxlength="11" readonly="readonly" />
        结束日期：<script type="text/javascript" src="../js/calendar.js"></script>
            <input type="text" id="date" name="end_date" value="<{$end_date}>" onclick="calendar.show(this);" size="11" maxlength="11" readonly="readonly" />
	<input type="submit" value="查询">
	</form>
</div>

<div>
    <h4>用户数据（<{$begin_date}> - <{$end_date}>）</h4>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="25%" align="center">用户uid</td>
            <td width="25%" align="center">转款金额</td>
            <td width="25%" align="center">成功率</td>
            <td width="25%" align="center">今日未处理异常金额</td>
        </tr>
        <{foreach from = $data key=key item = val}>
            <tr align="center">
                <td><{$val.uid}></span></td>
                <td><{$val.total_price}></td>
                <td><{$val.charge_count}>/<{$val.precharge_count}>(<{$val.suc}>)</td>
                <td><{$exception_data[$val.uid]}></td>
            </tr>
	<{/foreach}>
    </table>
</div>

<{include file="./footer.tpl"}>
