<{include file="./header.tpl"}>

<div class="menu" align="center"></div>

<div>
    <div class="head_tp">统计概况</div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="25%" align="center">&nbsp;</td>
            <td width="25%" align="center">费率收入</td>
            <td width="25%" align="center">到账金额</td>
            <td width="25%" align="center">未处理异常金额</td>
        </tr>
        <tr>
            <td align="center">今日</td>
            <td align="center"><{$today_real_money}></td>
            <td align="center"><{$today_money}></td>
            <td align="center"><{$exception_money}></td>
        </tr>
    </table>
</div>

<div>
    <div class="head_tp">下游充值数据</div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="25%" align="center">下游ID</td>
            <td width="25%" align="center">充值金额</td>
        </tr>
        <{foreach from = $data key=key item = val}>
            <tr align="center">
                <td><{$val.orderuid}></span></td>
                <td><{$val.total_price}></td>
            </tr>
	<{/foreach}>
    </table>
</div>

<{include file="./footer.tpl"}>
