<{include file="./header.tpl"}>
<script LANGUAGE="JavaScript">
function gathering(id){
    var orderid = "";
    if (document.getElementById('orderid'))
        orderid = document.getElementById('orderid').innerHTML;
    console.log("gathering : %d, orderid : %s", id, orderid);
    $.get(window.location.origin + "/mpay_gm/source/gathering.php?gathering=1&orderid=" + orderid + "&id=" + id, function(result){
        var ret = "操作成功";
        if (result == "OK")
            alert(ret);
        else
            alert(result);
    });
}

function gathering_by_order(){
    var orderid = "";
    if (document.getElementById('orderid'))
        orderid = document.getElementById('orderid').innerHTML;
    var money = "";
    if (document.getElementById('money'))
        money = document.getElementById('money').value;
    console.log("gathering_by_order money : %d, orderid : %s", money, orderid);
    $.get(window.location.origin + "/mpay_gm/source/gathering.php?gathering=1&orderid=" + orderid + "&money=" + money, function(result){
        var ret = "操作成功";
        if (result == "OK")
            alert(ret);
        else
            alert(result);
    });
}
</script>

<div class='input'>
	<form method="POST">
        订单号：<input type="text" name="orderid">
	支付宝用户名：<input type="text" name="userid">
	转账金额：<input type="text" name="price">
	转账时间：<input type="text" name="clientTime">
	<input type="submit" value="查询">
	</form>
</div>
<div>
</br>
<h4>订单信息</h4>
<table cellpadding="20" cellspacing="10">
	<tr align="center">
		<th>订单号</th>
        <th>用户ID</th>
		<th>订单时间</th>
        <th>订单金额</th>
        <th>收款账号</th>
		<th>状态</th>
		<th>操作</th>
		<th>补单金额</th>
	</tr>
	<{foreach from = $order_data key=key item = val}>
            <tr align="center">
                <td><span id="orderid"><{$val.orderid}></span></td>
                <td><{$val.orderuid}></td>
                <td><{$val.time}></td>
                <td><{$val.price}></td>
                <td><{$val.account}></td>
                <td><{$val.status}></td>
                <td><button type="button" onClick=gathering_by_order()>收款</button></td>
                <td><input type="text" id="money" name="money" /></td>
            </tr>
	<{/foreach}>
</table>
</div>
<div>
</br>
<h4>未到账记录列表</h4>
<table cellpadding="20" cellspacing="10">
	<tr align="center">
        <th>转账支付宝</th>
        <th>收款支付宝</th>
        <th>转账金额</th>
        <th>备注</th>
        <th>转账时间</th>
        <th>操作</th>
	</tr>
	<{foreach from = $data key=key item = val}>
            <tr align="center">
                <td><{$val.userid}></td>
                <td><{$val.account}></td>
                <td><{$val.price}></td>
                <td><{$val.remark}></td>
                <td><{$val.clientTime}></td>
                <td><button type="button" onClick=gathering(<{$val.id}>)>收款</button></td>
            </tr>
	<{/foreach}>
</table>
</div>

<{include file="./footer.tpl"}>
